.header-1{
    position:sticky;
    top:0px;
    left:0px;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:60px;
    align-items: center;
    background-color: cadetblue;
    padding:10px 30px;
    box-sizing: border-box;

}
.logo{
    width:40px;
    height:40px;
    border-radius: 50%;
}
body{
    margin:0;
}
.menu{
    display:flex;
}
.menu-item{
    padding:0px 15px;
    border: 1px solid royalblue;
    background-color: kaki;
}
.header-2{
    position:sticky;    
    top:0px;
    left:0px;
    display:flex;
    justify-content:space-between;
    width:100%;
    height:60px;
    align-items: center;
    background-color: cadetblue;
    padding:10px 30px;
    box-sizing: border-box;
    margin-top:10px;
}
.menu1{
    display:flex;
   
}
.box-login{
    padding:0px 15px;
    border: 1px solid royalblue;
}
.menu-item{
    padding:0px 15px;
    
}
.menu-item1{
    padding:5px 10px;
}
.brand{
    padding-right:70%;
    font-size: 24px;
}
.menu2{
    display:flex;
}
.menu-item2{
    padding:0px 15px;
}
.box-login1{
    padding:10px 15px;
    border:1px solid royalblue; 
    border-radius:100%;
    background-color: aliceblue;
}
.brand1{
    padding-right: 74%;
    font-size:24px;
}
.box-login2{
    border-radius: 100%;
    border:1px solid royalblue;
    padding:20px 15px;
    background-color: green;
}
.icon{
    display:flex;;
    padding-right: 40%;
}
.menu4{
    display: flex;
    
}





