
.flexbox-item{
    width:80px;
    height:80px;
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
    
}
 .flexbox{
    display:flex ; thay đổi bố cục của nội dung
        width:700px;
        height:500px;
    border: 1px solid black;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-between;
    flex-wrap:wrap-reverse;

}
.flexbox-item.my-item{
    width:200px;
    height:200px;
} 
footer.footer{
    height:200px;
    background-color: blue;
    color: white;
    padding:10px;
}
.footer-content-1{
    display:flex;
    justify-content: space-between;
    background-color: red;
    padding:10px;
    align-items: stretch;
    height:60px;
}
.footer-btn-group{
    background-color: green;
    height:60px;
    width:60%;
}
.footer-contact{
    background-color: pink;
    width:30%;
    
}
.footer-content-2{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.footer-about{
    width:80%;
    text-align: center;
}
